@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #faf3e1;
  color: #222222;
}

/* Custom Scrollbar to match theme */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #faf3e1;
}
::-webkit-scrollbar-thumb {
  background: #f5e7c6;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ff6d1f;
}

/* Custom scrollbar utility */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #f5e7c6;
  border-radius: 2px;
}
